<div class="root">
  <header>
    <h1>Brainbox.in</h1>
    <nav fxLayoutAlign="center">
      <a routerLink="/home" routerLinkActive="active">Home</a>
      <a routerLink="/posts" routerLinkActive="active">Posts</a>
      <!-- <a routerLink="/diary" routerLinkActive="active">Diary</a> -->
      <a routerLink="/inshorts" routerLinkActive="active">Inshorts</a>
      <a routerLink="/login" routerLinkActive="active">Login</a>
    </nav>
  </header>
  <main>
    <router-outlet></router-outlet>
  </main>
</div>