// chip is active
.active {
    color: white;
    background: tomato;
}

.expense {
    margin: 0;
    padding: 0;
    span {
        display: inline-block;
        width: 32%; // border: 1px solid green;
    }
}

div.field {
    width: 20%;
}

@media screen and(max-width: 599px) {
    div.field {
        width: 50%;
    }
}