<div class="m-container">
  <h1>Expenses</h1>
  <div class="section" id="months" fxLayout="row wrap" fxLayoutAlign="center start">
    <div fxFlex="0 0 auto" *ngFor="let month of months" class="chip" [ngClass]="{ 'active' : month.id === currentMonth}" (click)="getExpenseByMonth(month.id)">
      {{month.name}}
    </div>
  </div>
  <h2>Current Month</h2>
  <div class="section" *ngIf="monthlyExpense.length > 0">
    <p class="expense" *ngFor="let expense of monthlyExpense">
      <span>Rs/- {{expense.amount}}</span>
      <span>{{expense.name}}</span>
      <span>{{formatDate(expense.created_at)}}</span>
    </p>
    <p class="expense" style="font-weight: bold">Total : Rs/- {{totalExpense}}</p>
    <br>
  </div>
  <div class="section" *ngIf="monthlyExpense.length === 0">
    <p>No Expense.</p>
  </div>
  <div class="section">
    <form class="ui form" autocomplete="off" (ngSubmit)="addExpense()">

      <div class="field">
        <!-- <label for="amount">Amount</label> -->
        <input type="text" class="ui input" [(ngModel)]="amount" name="amount" placeholder="Amount">
      </div>

      <div class="field">
        <label>Expense Type</label>
        <div *ngFor="let type of expenseTypes">
          <div class="ui radio checkbox">
            <input type="radio" [value]="type.id" name="typeId" [(ngModel)]="typeId" [id]="type.id">
            <label [for]="type.id">&nbsp;{{type.name}}</label>
          </div>
        </div>
        <div class="ui radio checkbox">
          <input type="radio" value="0" name="typeId" [(ngModel)]="typeId" id="0">
          <label [for]="0">&nbsp;New</label>
        </div>
      </div>

      <div *ngIf="typeId == 0" class="field">
        <label for="field">New Field</label>
        <input type="text" class="ui input" name="field" [(ngModel)]="name" placeholder="New...">
      </div>

      <div>
        <input type="submit" class="m-button ui button" value="Add">
      </div>
    </form>
  </div>

</div>