<div class="m-container">
  <div class="section">
    <div fxLayout="row" fxLayoutAlign="space-between start">
      <div class="ui buttons">
        <button
          class="ui button"
          routerLink="/admin/posts/add"
          [queryParams]="{ type: 'POST' }"
        >
          Add Post
        </button>
        <button
          class="ui button"
          routerLink="/admin/posts/add"
          [queryParams]="{ type: 'INSHORTS' }"
        >
          Add Inshort
        </button>
      </div>
      <div class="ui buttons">
        <button class="ui button" (click)="changeDisplayType('POST')">
          Posts
        </button>
        <button class="ui button" (click)="changeDisplayType('INSHORTS')">
          Inshorts
        </button>
      </div>
    </div>
    <br />
    <div
      *ngIf="displayType === 'POST'"
      fxLayout="row wrap"
      fxLayoutAlign="center start"
    >
      <h2>{{ displayType }}</h2>
      <table class="ui celled table">
        <thead>
          <tr>
            <td>Id</td>
            <td>Title</td>
            <td>Content</td>
            <td>Created On</td>
            <td></td>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let post of postList">
            <td>{{ post.id }}</td>
            <td>{{ post.title }}</td>
            <td>
              {{
                post.content.length > 100
                  ? post.content.substr(0, 100) + '..'
                  : post.content
              }}
            </td>
            <td>{{ post.created_at.split('T')[0] }}</td>
            <td>
              <span
                class="m-icon"
                routerLink="/admin/posts/edit/post/{{ post.id }}"
              >
                <i class="material-icons"> navigate_next </i>
              </span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div
      *ngIf="displayType === 'INSHORTS'"
      class="section"
      fxLayout="row wrap"
      fxLayoutAlign="center start"
    >
      <table class="ui celled table">
        <thead>
          <tr>
            <td>Id</td>
            <td>Title</td>
            <td>Content</td>
            <td>Created On</td>
            <td></td>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let inshort of inshortsList">
            <td>{{ inshort.id }}</td>
            <td>{{ inshort.title }}</td>
            <td>{{ inshort.content }}</td>
            <td>{{ inshort.created_at }}</td>
            <td>
              <span
                class="m-icon"
                routerLink="/admin/posts/edit/inshorts/{{ inshort.id }}"
              >
                <i class="fas fa-caret-right"></i>
              </span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <!-- Resume -->
  <div fxLayout="row">
    <div fxFlex="50" class="section">
      <h2>Resume</h2>
      <div fxLayout="column">
        <div>
          <textarea
            [(ngModel)]="resume"
            class="input-field"
            name="resume"
            rows="20"
            placeholder="Upload resume json"
          ></textarea>
        </div>
        <div fxLayout fxLayoutAlign="end start">
          <input type="file" />
          <button (click)="updateResume()">Update</button>
          <button (click)="disableResume()">Disable</button>
          <button (click)="openResume()">Preview</button>
          <!-- <i class="material-icons"> help </i> -->
        </div>
      </div>
    </div>
  </div>
</div>
