@import 'src/variables';
table {
  width: 100%;
  thead tr {
    background: lightgrey;
    margin: 20px 0;
    padding: 15px 0;
  }
  tbody tr {
    &:hover {
      background: $primary;
      color: $white;
      cursor: pointer;
    }
  }
}
