<div class="m-container">
  <div class="section">
    <button class="ui button m-button" routerLink="/posts">Back</button>
    <button class="ui button m-button" routerLink="/admin/posts/edit/post/{{currentPost.id}}">Edit Post</button>
  </div>
  <article>
    <h1>{{currentPost.title}}</h1>
    <span>{{currentPost.created_at}}</span>
    <h3>Post #{{currentPost.id}}</h3>
    <div class="body" [innerHTML]="currentPost.content | safeHtml"></div>
  </article>
  <div class="section">
    <button class="ui button m-button" routerLink="/posts/{{id - 1}}">Previous</button>
    <button class="ui button m-button" routerLink="/posts/{{id + 1}}">Next</button>
  </div>
</div>