h1 {
    // font-size: 26px;
}

h2 {
    font-size: 20px;
    font-weight: bold;
    text-decoration: line-through;
}

h3 {
    font-size: 18px;
}

h4 {
    font-size: 16px;
}

h5 {
    font-size: 14px;
}

.m-container {
    padding: 20px;
    width: 80%;
    min-height: 100%;
    margin: 0 auto;
    border: 1px solid rgb(161, 161, 161);
    .section {
        margin: 10px 0;
        padding: 5px 0;
    }
}

.m-card {
    height: 200px;
    width: 24%;
    margin: 10px;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}

.m-card:hover {
    background: rgba(241, 241, 241, 0.6);
}

.m-card.sm-card {
    height: auto;
    width: auto;
    margin: 3px;
    padding: 5px;
}

.input-container {
    .label {}
    .field {}
}

.m-button {
    margin: 0 5px;
}